:root {
  // 초록색버전
  --color-back: #f9f7f7;
  --color-book: #a2b29f;
  --color-inner: #ccd8c8;
  --color-i: #e5ebe3;

  // 하늘색버전
  // --color-back: #f9f7f7;
  // --color-book: #c0cee7;
  // --color-inner: #dbe2ef;

  // 분홍색버전
  // --color-back: #dddddd;
  // --color-book: #e2bcb7;
  // --color-inner: #e4d3cf;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ App.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.all-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--color-back);
}

.cstitle {
  font-family: "EliceDigitalBaeum_Bold";
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ logout > main.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.main-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100%;
  padding: 2em;
}

.main-cover div:first-child {
  width: 40%;
}

.main-cover div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: 700;
  width: 60%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--color-inner);
  color: #000000;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ main > login, logout.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.book-wrap {
  display: flex;
  justify-content: flex-end;
  width: 85%;
  height: 85vh;
  margin: auto;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ nav.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.nav-wrap {
  display: flex;
  justify-content: flex-end;
  width: 82%;
  margin: auto;
}

.menu-btn {
  margin: 0 0.2em;
  // background-color: #bcbab8;
  background-color: var(--color-inner) !important;
  color: #000000;
  border-radius: 10px 10px 0 0 !important;
}

.menu-btn-cover {
  margin-right: 3em;
}

.click-menu {
  background-color: var(--color-book) !important;
  color: #ffffff !important;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ login-cover, logout-cover.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.left-wrap {
  display: flex;
  justify-content: flex-end;
  width: 28%;
  height: 100%;
  background-color: var(--color-book);
  border-right: none;
  border-radius: 20px;

  .open-left-wrap {
    width: 95%;
    height: 96%;
    margin: auto 0;
    background-color: var(--color-i);
    color: #000000;
    margin-right: 0;
    border-radius: 15px 25px 25px 15px;
    border-right: 1px dotted var(--color-book);
  }
}

.right-wrap {
  display: flex;
  position: relative;
  width: 72%;
  height: 100%;
  // border: 1px solid black;
  border-radius: 20px;
  background-color: var(--color-book);
  color: #ffffff;

  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    // box-shadow: 18px 20px 20px -5px grey;
    box-shadow: 0.5px 0.5px 1px #798777, 5px 1px 1px #b4bdb3,
      6px 2px 1px #b4bdb3, 7px 3px 1px #b4bdb3, 8px 4px 1px #b4bdb3,
      9px 5px 1px #b4bdb3, 10px 5.5px 0 #b4bdb3, 11px 6.5px 0 #b4bdb3,
      12px 7.5px 0 #b4bdb3, 13px 8px 0 #b4bdb3, 14px 8.5px 3px #798777;
    border-radius: 20px;
  }

  .inner-wrap {
    width: 96%;
    height: 96%;
    margin: auto;
    background-color: var(--color-i);
    color: #000000;
    border-radius: 15px;
  }

  .open-right-wrap {
    width: 98%;
    height: 96%;
    margin: auto 0;
    background-color: var(--color-i);
    color: #000000;
    border-radius: 25px 15px 15px 25px;
  }
}

/* -----------그림자 --------*/
