.findpw-card-close-btn {
}

.findpw-card-title {
  font-size: 21px;
  text-decoration: underline;
  text-underline-position: under;
}

.findpw-card-info {
  margin-top: 2em;
  font-size: 18px;
}

.findpw-card-email {
}

.findpw-card-btn {
}
