/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ main.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.book-wrap {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 90vw;
  height: 85%;
  margin: auto;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ leftpage.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.left-wrap {
  width: 27.5vw;
  height: 100%;
  border: 1px solid black;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ rightpage.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.right-wrap {
  width: 72.5vw;
  height: 100%;
  border: 1px solid black;
}
