:root {
  // 초록색버전
  --color-back: #f9f7f7;
  --color-book: #a2b29f;
  --color-inner: #ccd8c8;
  --color-i: #e5ebe3;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ leftpage.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.mypage-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2em;
}

.profile-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-img {
  width: 80%;
  border-radius: 50%;
  border: 1px solid black;
  overflow: hidden;
}

.user-name {
  margin: 0.5em 0 1em;
}

.mypage-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage-menu div {
  margin: 0.2em 0;
  width: 80%;
}

.mypage-menu div:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ profile.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.profile-right-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;

  .modify-btn {
    background-color: var(--color-book);
    margin: 1em 0;
  }
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ modify.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.modify-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.modify-title {
  display: block;
  font-size: 1.5em;
  margin: 1.5em 0 0;
}

.form-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.modify-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;

  .modi-img {
    position: relative;
    width: 80%;
    margin: 1em 0;
  }

  .upload-btn {
    border-radius: 5px;
    padding: 0.5em 1em;
    background-color: var(--color-book);
  }

  .upload-btn:hover {
    cursor: pointer;
  }
}

.qform {
  width: 60%;
}
.form {
  display: flex;
  flex-direction: column;
}

.modify-nick {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nickinput {
  width: 83%;
}
.nickcheck {
  width: 15%;
  height: 50%;
}

.submit-wrap {
  margin-bottom: 1.5em;
}

.click-myleft {
  transform: scale(1.05);
  font-weight: 700;
}
